:root {
  /* Background Colors - General */
  --bg-body: #1c1c1c;
  --bg-btn-primary: #10b981;
  --bg-btn-secondary: #273549;

  /* Background Colors - Dark Mode */
  --bg-card-dark: #1f2937;

  /* Background Colors - Light Mode */
  --bg-card-light: #ecfdf5;

  /* Text Colors - Dark Mode */
  --text-primary-dark: #fff;
  --text-emphasis-dark: #4adf86;
  --text-subheader-dark: #d5d4d8;
  --text-btn-dark: #55f991;

  /* Text Colors - Light Mode */
  --text-primary-light: #2b283a;
  --text-emphasis-light: #10b981;
  --text-subheader-light: #6b7280;
  --text-btn-light: #5def92;
}

/* General setup */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--bg-body);
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
  margin: 0;
}

/* Utility Classes */

.fully-flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.full-height {
  height: 100vh;
}

.emphasis-dark {
  color: var(--text-emphasis-dark);
}

.emphasis-light {
  color: var(--text-emphasis-light);
}

/* Main Styles */

.card {
  padding: 115px 52px;
  width: fit-content;
}

.card--dark {
  background: var(--bg-card-dark);
  color: var(--text-primary-dark);
}

.card--light {
  background: var(--bg-card-light);
  color: var(--text-primary-light);
}

.card__title {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -1px;
}

.card__subtitle {
  font-size: 1.25rem;
  line-height: 28px;
}

.card__subtitle-dark {
  color: var(--text-subheader-dark);
}

.card__subtitle-light {
  color: var(--text-subheader-light);
}
